.header {
  position: relative;
  z-index: 99;
  left: 320px;
  width: calc(100% - 320px);
  height: 70px;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 20px;

  div.search,
  div.notification,
  div.calender {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 70px;
    border: 1px solid #177aeb;
    box-shadow: 2px 2px 5px #177aeb;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #177aeb;
  }
  div.profile {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    width: 200px;
    color: #177aeb;

    :hover {
      cursor: pointer;
    }

    div.profile_pic {
      border: 2px solid gray;
      width: 45px;
      height: 45px;
      border-radius: 40px;

      img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
      }
    }

    div.details {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      gap: 5px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;

      .name {
        display: block;
        font-weight: bold;
        font-size: large;
        color: #177aeb;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 120px;
      }
      .role {
        color: black;
        font-weight: bold;
      }
    }
  }
}
